// Place all the styles related to the circles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.my_class {
	color: green;
	.sub_class {
        font-size:4em;
	}
}

h1 {
    color: blue;
    text-align: center;
}
